@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #0e0e0e;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.gradient-text {
  background-color: #e5e0e0;
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

#github {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

#github::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

#github:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}

.github {
  margin: 20px;
  display: flex;
  margin-left: 55%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.logo-github {
  width: 30px;
  height: 30px;
  margin-left: 7px;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1500px;
}
section {
  background: #fff;
  border-radius: 7px;
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}

.footer{
  background-color: hsla(0, 3%, 6%, 0.144);
  width:100%;
  padding: 10px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  border-radius:10px ;
  color:#fbf8f8ae ;
}

P {

  color: #fbf8f8ae;
  font-size: 12pt;
  text-align: justify;
  line-height: 28px;
  padding: 10px;
  margin-top: 10px;
  }
